@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme-dark-bg: #0a192f;
  --color-theme-light-bg: #f7f9fb;
  --color-primary-container: #ffd700;
  --color-primary-fixed: #ffe16d;
  --color-inverse-primary: #e9c400;
  --color-surface-dim: #d8dadc;
}
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
